/* CSS specific to database mode */

th:nth-child(1) { width: 20%; } /* File Name */
th:nth-child(2) { width: 8%; }  /* Type */
th:nth-child(3) { width: 35%; } /* Path */
th:nth-child(4) { width: 13%; } /* Size */
th:nth-child(5) { width: 12%; } /* Modified */
th:nth-child(6) { width: 12%; } /* Created */

.db-mode-badge {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 10px;
}
